#slide-container {
  width: 100%;
  height: 35px;
  z-index: 100;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}

#video-controls-container a {
  padding: 0;
}
#video-controls-container label {
  font-size: 33px;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  color: #23922b;
}
#video-controls-container input {
  width: 150px;
  margin-top: 10px;
  padding: 1px;
  margin-left: 10px;
  height: 20px;
  font-size: 16px;
  vertical-align: top;
}

#video-controls-container a i.fa {
  color: #4caf50;
}

#video-controls-container.disable {
  cursor: no-drop;
}

#video-controls-container a.disable {
  pointer-events: none;
}

#video-controls-container a.disable i.fa {
  color: #aadcc3;
}

#video-controls-container > button {
  padding: 5px;
  border-radius: 5px;
  margin-left: 20px;
}

.icon-bar {
  width: 100%;
  overflow: auto;
}

.icon-bar .fa {
  color: #aadcc3;
}

.icon-bar .active .fa {
  color: #4caf50 !important;
}

.icon-bar a,
.icon-bar span {
  float: left;
  width: 15%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar-bottom a,
.icon-bar-bottom span {
  float: right;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}

.menu-section {
  display: inline-block;
  margin-right: 25px;
}

#speed-control {
  vertical-align: top;
  text-align: left;
  width: 25%;
}

#frameInfo {
  width: 25%;
}

input:invalid {
  box-shadow: none;
}
