<div class="icon-bar" id="top-menu">
  <span
    title="Video Debug Mode"
    [routerLink]="['/']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <i class="fa fa-home"></i>
  </span>
  <span
    title="Code Mode"
    [routerLink]="['/code-web']"
    routerLinkActive="active"
  >
    <i class="fa fa-code"></i>
  </span>
  <input hidden type="file" #uploader (change)="uploadFile($event)" />

  <span class="active" (click)="uploader.click()"
    ><i class="fa fa-folder-open-o"></i
  ></span>

  <span (click)="downloadFile()" class="active" title="Download Code"
    ><i class="fa fa-download"></i
  ></span>

  <span
    [routerLink]="['/settings']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    ><i class="fa fa-cog"></i
  ></span>
</div>
