#state {
  height: 100%;
  h3 {
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Biryani', Arial, Helvetica, sans-serif;
  }
  .mat-list-item {
    color: white;
  }
}
