<div id="state">
  <h3>
    Debug
    <span>
      <i
        [ngClass]="{
          'not-active': !arduinoDebugPause || arduinoState != 'CONNECTED' || debugModeStopped
        }"
        (click)="continue()"
        class="fa fa-play"
      ></i>

      <i
        [ngClass]="{
          'not-active': debugModeStopped || arduinoState != 'CONNECTED'
        }"
        (click)="stopDebugMode()"
        class="fa fa-stop"
      ></i>
      {{ arduinoState }}
    </span>
  </h3>
  <div id="variable-table-container">
    <table id="variable-table">
      <thead>
        <tr>
          <th>Variable Name</th>
          <th>Data Type</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody id="variable-tbody">
        <tr *ngFor="let variable of variables">
          <td>{{ variable.name }}</td>
          <td>{{ variable.type }}</td>
          <td
            *ngIf="variable.type !== 'Colour List'"
            [ngStyle]="{
              'background-color':
                variable.type === 'Colour' ? rgbToHex(variable.value) : 'white'
            }"
            [ngClass]="{ colorValue: variable.type === 'Colour' }"
          >
            {{ printValue(variable) }}
          </td>
          <td *ngIf="variable.type === 'Colour List'">
            <!-- <div
              class="color-list"
              *ngFor="let color of variable.value; let i = index"
              [ngStyle]="{
                'background-color': color ? rgbToHex(color) : 'white'
              }"
            > -->
            <span
              class="colorValue"
              *ngFor="let color of variable.value; let i = index"
            >
              <span
                class="coloredElement"
                [ngStyle]="{
                  'background-color': color ? rgbToHex(color) : 'white'
                }"
                >{{ i + 1 }}</span
              >
            </span>

            <!-- </div> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <mat-list>
    <mat-list-item>counter = 3</mat-list-item>
    <mat-list-item>nameList = ['Jill','Bill', 'Carson', 'Amy']</mat-list-item>
    <mat-list-item>isOn = false</mat-list-item>
    <mat-list-item>color = (red = 2, green = 30, blue = 240)</mat-list-item>
  </mat-list> -->
</div>
