<div [style.height]="topContainerHeight">
  <app-svg *ngIf="displayMode == 'Virtual-Circuit'"></app-svg>
  <app-arduino-message *ngIf="displayMode == 'Arduino'"></app-arduino-message>
</div>
<div
  (mouseup)="grabberMouseUp($event)"
  (mousedown)="grabberMouseDown($event)"
  id="svg-grabber"
  #grabber
></div>
<div
  [ngClass]="{ commandLineBackground: displayMode == 'Virtual-Circuit' }"
  [style.height]="bottomContainerHeight"
  id="bottomContainer"
>
  <app-steps *ngIf="displayMode == 'Virtual-Circuit'"></app-steps>
  <app-arduino-debug *ngIf="displayMode == 'Arduino'"></app-arduino-debug>
</div>
