#svg-grabber {
  height: 20px;
  width: 100%;
  cursor: row-resize;
  background-color: #eff0f1;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFCAMAAABl/6zIAAAABlBMVEUAAADMzMzIT8AyAAAAAXRSTlMAQObYZgAAABRJREFUeAFjYGRkwIMJSeMHlBkOABP7AEGzSuPKAAAAAElFTkSuQmCC);
}

#bottomContainer {
  background: #242323;
  color: white;
}
