<div #virtualCircuit id="virtual-circuit"></div>
<div id="svg-controls">
  <mat-slide-toggle
    class="pull-right"
    (change)="changeShowArduino($event)"
    [checked]="isShowArduinoChecked$ | async"
  >
    Show Arduino
  </mat-slide-toggle>
  <button
    (click)="moveLeft()"
    mat-icon-button
    aria-label="Example icon-button with a heart icon"
  >
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>

  <button
    (click)="moveUp()"
    mat-icon-button
    aria-label="Example icon-button with a heart icon"
  >
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>

  <button
    (click)="moveDown()"
    mat-icon-button
    aria-label="Example icon-button with a heart icon"
  >
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>

  <button
    (click)="moveRight()"
    mat-icon-button
    aria-label="Example icon-button with a heart icon"
  >
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>

  <button
    (click)="moveCenterEvent()"
    mat-icon-button
    aria-label="Example icon-button with a heart icon"
  >
    <mat-icon>refresh</mat-icon>
  </button>

  <button
    (click)="zoomOut()"
    mat-icon-button
    aria-label="Example icon-button with a heart icon"
  >
    <mat-icon>zoom_out</mat-icon>
  </button>

  <button
    (click)="zoomIn()"
    mat-icon-button
    aria-label="Example icon-button with a heart icon"
  >
    <mat-icon>zoom_in</mat-icon>
  </button>
</div>
