#lesson-picker-container {
  .mat-form-field,
  mat-progress-bar {
    width: 90% !important;
    margin: 0 5%;
  }
}

#lesson-container {
  width: 90% !important;
  margin: 10px 5%;
  h2 {
    font-size: 1.1em;
    margin: 0;
  }
  img {
    height: 20%;
    max-height: 350px;
    margin: 0 auto;
    display: block;
  }
  iframe {
    display: block;
    margin: 0 auto;
  }
}

#lesson-controller {
}

#lesson-notes {
}

#navigation {
  width: 90% !important;
  margin: 0 5%;
  .next {
    float: right;
  }
  mat-progress-bar {
    margin-top: 10px;
  }
}
