<router-outlet name="topMenu"></router-outlet>
<div
  [ngClass]="{
    showBottom: showBottom,
    fileMenu: !identityService.isElectron
  }"
  [style.width]="blocklyContainerWidth"
  id="blockly-container"
>
  <app-blockly></app-blockly>
</div>
<div
  [ngClass]="{
    showBottom: showBottom,
    fileMenu: !identityService.isElectron
  }"
  #grabber
  (mouseup)="grabberMouseUp($event)"
  (mousedown)="grabberMouseDown($event)"
  id="grabber"
></div>
<div
  [ngClass]="{
    showBottom: showBottom,
    fileMenu: !identityService.isElectron,
    scrollable: scrollable
  }"
  [style.width]="routerContainerWidth"
  id="route-container"
>
  <router-outlet></router-outlet>
</div>
<router-outlet name="bottom"></router-outlet>
