<!-- <table id="variable-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody id="variable-tbody">
    <tr *ngFor="let variable of variables$ | async">
      <td>{{ variable.name }}</td>
      <td>{{ variable.type }}</td>
      <td
        *ngIf="variable.type !== 'Colour List'"
        [ngStyle]="{
          'background-color':
            variable.type === 'Colour' ? rgbToHex(variable.value) : 'white'
        }"
        [ngClass]="{ colorValue: variable.type === 'Colour' }"
      >
        {{ variable.value | json }}
      </td>
      <td *ngIf="variable.type === 'Colour List'">
        <div
          class="color-list"
          *ngFor="let color of variable.value; let i = index"
          [ngStyle]="{ 'background-color': color ? rgbToHex(color) : 'white' }"
        >
          <span class="colorValue" *ngIf="color !== undefined"
            >{{ i + 1 }}) {{ color | json }} <br />
          </span>
          <span *ngIf="color === undefined">
            {{ i + 1 }}) No Color :) <br />
          </span>
        </div>
      </td>
    </tr>
  </tbody>
</table> -->
