#variable-table {
  border-collapse: collapse;
  width: 100%;
  font-family: 'Biryani', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

#variable-table td,
#variable-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#variable-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#variable-table tr:hover {
  background-color: #ddd;
}

#variable-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

.colorValue {
  color: white;
}

.color-list {
  margin: 3px;
  padding: 5px;
}
