#virtual-circuit {
  width: 100%;
  height: calc(100% - 40px);
  cursor: move;
}

#svg-controls button {
  float: right;
}
#svg-controls mat-slide-toggle {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
