<div #virtualCircuit id="virtual-circuit"></div>
<div id="svg-controls">
  <mat-slide-toggle
    class="pull-right"
    (change)="changeShowArduino($event)"
    [checked]="isShowArduinoChecked$ | async"
  >
    Arduino
  </mat-slide-toggle>

  <mat-slide-toggle
    class="pull-left"
    (change)="changeShowVariables($event)"
    [checked]="isShowVariablesChecked$ | async"
  >
    Variables
  </mat-slide-toggle>


  <button
    (click)="zoomOut()"
    mat-icon-button
    aria-label="Example icon-button with a heart icon"
  >
    <mat-icon>zoom_out</mat-icon>
  </button>

  <button
    (click)="zoomIn()"
    mat-icon-button
    aria-label="Example icon-button with a heart icon"
  >
    <mat-icon>zoom_in</mat-icon>
  </button>
</div>
