div {
  font-family: 'Biryani', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

h3 {
  text-align: center;
  margin: 5px;
}
div#steps {
  height: calc(100% - 50px);
  overflow: scroll;
  padding: 0 5px;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;

  li {
    padding: 3px;
    counter-increment: my-awesome-counter;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
  }
  li::before {
    content: 'Step ' counter(my-awesome-counter) '. ';
    font-weight: 600;
    font-size: 1em;
  }
  li.selected-step,
  li.selected::before {
    background: steelblue;
    border-radius: 2px;
    padding: 3px;
  }
}
div#loop {
  height: 50px;
  font-family: 'Biryani', Arial, Helvetica, sans-serif !important;
  font-weight: 600 !important;
  font-size: 1.3em;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}
