<div id="send-message-area">
  <mat-form-field>
    <mat-placeholder>Send Message</mat-placeholder>
    <input
      [(ngModel)]="sendMessage"
      (keydown.enter)="message()"
      matInput
      type="message"
    />
  </mat-form-field>
  <button
    (click)="message()"
    mat-button
    matSuffix
    mat-stroked-button
    aria-label="send"
  >
    <mat-icon>send</mat-icon>
  </button>
  <button
    (click)="clear()"
    mat-button
    matSuffix
    mat-stroked-button
    aria-label="clear"
  >
    <mat-icon>clear_all</mat-icon>
  </button>
</div>
<div #messageView id="messageContainer">
  <mat-list>
    <mat-list-item *ngFor="let message of messages">
      <p matLine>
        <img
          class="icon-image"
          src="assets/images/{{
            message.type == 'Arduino' ? 'cpu.png' : 'laptop.png'
          }}"
        />{{ message.message }} ({{ message.time }})
      </p>
    </mat-list-item>
  </mat-list>
</div>
