<button
  *ngIf="identityService.isBrowser() || identityService.isChromebookApp()"
  mat-button
  [matMenuTriggerFor]="fileMenu"
>
  File
</button>
<button
  *ngIf="identityService.isBrowser() || identityService.isChromebookApp()"
  mat-button
  [matMenuTriggerFor]="settingMenu"
>
  Settings
</button>
<button
  *ngIf="identityService.isBrowser() || identityService.isChromebookApp()"
  mat-button
  [matMenuTriggerFor]="helpMenu"
>
  Help
</button>

<mat-menu #fileMenu="matMenu">
  <button mat-menu-item (click)="newFile()">New</button>
  <button mat-menu-item (click)="uploader.click()">Open</button>
  <input hidden type="file" #uploader (change)="uploadFile($event)" />

  <button
    mat-menu-item
    (click)="downloadFile()"
    *ngIf="identityService.isBrowser()"
  >
    Download
  </button>
  <button mat-menu-item [disabled]="identityService.isBrowser()">Save</button>
  <button mat-menu-item [disabled]="identityService.isBrowser()">
    Save As
  </button>
  <button mat-menu-item [disabled]="identityService.isBrowser()">Close</button>
</mat-menu>

<mat-menu #settingMenu="matMenu">
  <button (click)="navigateToSettings('toolbox')" mat-menu-item>Toolbox</button>
  <button (click)="navigateToSettings('advanced')" mat-menu-item>
    Advanced
  </button>
  <button (click)="navigateToSettings('bug')" mat-menu-item>Report Bug</button>
  <button (click)="navigateToSettings('about')" mat-menu-item>About</button>
</mat-menu>

<mat-menu #helpMenu="matMenu">
  <!-- <button mat-menu-item>Blocks</button> -->
  <!-- We'll  add this later but I don't want this stop the release -->
  <button (click)="navigateToSettings('help')" mat-menu-item>Support</button>
</mat-menu>

<div class="icon-bar" id="top-menu">
  <a
    title="Home"
    [routerLink]="['/']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <i class="fa fa-home"></i>
  </a>
  <a title="Code Mode" [routerLink]="['/code-web']" routerLinkActive="active">
    <i class="fa fa-code"></i>
  </a>

  <a title="Arduio" [routerLink]="['/arduino']" routerLinkActive="active"
    ><i class="fa fa-microchip"></i
  ></a>

  <a
    title="Lessons"
    [ngClass]="{ active: isLessonRoute ? 'active' : '' }"
    (click)="navigateLesson()"
    ><i class="fa fa-book"></i
  ></a>

  <span
    [ngClass]="{ disabled: arduinoState != 'CONNECTED' }"
    title="Upload Code"
    (click)="uploadCode()"
    ><i
      class="fa "
      [ngClass]="{
        'fa-exclamation-triangle': arduinoState == 'DISCONNECTED',
        'fa-upload': arduinoState == 'CONNECTED',
        'fa-cog fa-spin fa-6x fa-fw': arduinoState == 'UPLOADING_CODE'
      }"
    >
    </i
  ></span>
</div>
