<html lang="en">
<head>
    <meta charset="utf-8">
    <title>About Arduino IDE</title>

</head>
<body>
    <h1>About Arduino IDE</h1>

    <p>A big thanks to <a href="https://github.com/BlocklyDuino/BlocklyDuino">BlockDruino</a> providing a lot of the code and inspiration for creating this IDE.  Also a big thank you to google for creating the <a href="https://developers.google.com/blockly/">Blockly</a> meta language and javascript library.  I would also like to give a huge thank you and shout out to <a href="http://www.arduino.cc">Arduino</a> for making process or the awesome Arduino IDE.  If you are interested in looking at the code it's <a href="https://github.com/phptuts/ArduinoBlocklyIDE">here.</a></p>

    <h2>Features</h2>

    <ul>
        <li>Block Programming</li>
        <li>Debugging</li>
        <li>USB Communication (both ways)</li>
        <li>Arduino Blocks For:
            <ul>
                <li>Input & Output</li>
                <li>Neo Pixels</li>
                <li>RFID</li>
                <li>Led Matrix</li>
                <li>LCD Displays</li>
                <li>Bluetooth</li>
                <li>Servos</li>
                <li>IR Remote</li>
                <li>And More :)</li>
            </ul>
        </li>
    </ul>

    <h2>List of Node Packages Used</h2>
    <ul>
        <li><a href="https://electronjs.org/">Electron</a></li>
        <li><a href="https://github.com/noopkat/avrgirl-arduino">AVR Girl</a></li>
        <li><a href="https://github.com/ReactiveX/rxjs">RxJS</a></li>
        <li><a href="https://github.com/node-serialport/node-serialport">Serial Port</a></li>
        <li><a href="https://github.com/axios/axios">axios</a></li>
        <li><a href="https://github.com/sperrichon/electron-prompt">Electron Prompt</a></li>
        <li><a href="https://github.com/electron-userland/electron-builder">Electron Builder</a></li>
    </ul>

<script src="about.js"></script>
</body>
</html>

