<html lang="en">
<head>
    <meta charset="utf-8">
    <title>About Arduino IDE</title>

</head>
<body>
    <h1>About Arduino IDE</h1>

    <p>A big thanks to <a href="https://github.com/BlocklyDuino/BlocklyDuino">BlockDruino</a> providing a lot of the code and inspiration for creating this IDE.  Also a big thank you to google for creating the <a href="https://developers.google.com/blockly/">Blockly</a> meta language and javascript library.</p>

    <h2>Features</h2>

    <ul>
        <li>Block Programming</li>
        <li>Debugging</li>
        <li>USB Communication</li>
        <li>Lots of integrated libraries</li>
    </ul>

    <h2>List of Node Packages Used</h2>
    <ul>
        <li><a href="https://electronjs.org/">Electron</a></li>
        <li><a href="https://github.com/noopkat/avrgirl-arduino">AVR Girl</a></li>
        <li><a href="https://github.com/ReactiveX/rxjs">RxJS</a></li>
        <li><a href="https://github.com/node-serialport/node-serialport">Serial Port</a></li>
        <li><a href="https://github.com/axios/axios">axios</a></li>
        <li><a href="https://github.com/sperrichon/electron-prompt">Electron Prompt</a></li>
        <li><a href="https://github.com/electron-userland/electron-builder">Electron Builder</a></li>
    </ul>

</body>
</html>

