<!DOCTYPE html>
<html>
<head>
    <title>ElectroBlocks</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body {
            margin: 0;
        }

        .icon-bar {
            width: 100%;
            background-color: #555;
            overflow: auto;
        }

        .icon-bar a, .icon-bar span {
            float: left;
            width: 20%;
            text-align: center;
            padding: 12px 0;
            transition: all 0.3s ease;
            color: white;
            font-size: 36px;
        }

        .icon-bar-bottom a, .icon-bar-bottom span {
            float: right;
        }

        .icon-bar a:hover {
            background-color: #000;
        }

        .active {
            background-color: #4CAF50 !important;
        }

        #debug-menu {
            max-height: 250px;
            position: absolute;
            bottom: 0;
            width: 100%;
            border: solid gray 1px;
            overflow-y: scroll;
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            z-index: 100;
        }

        #debug-menu h2 {
            display: inline-block;
            margin-left: 30px;
            color: white;
        }


        #debug-table {
            border-collapse: collapse;
            width: 100%;
        }

        #debug-table td, #debug-table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #debug-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #debug-table tr:hover {
            background-color: #ddd;
        }

        #debug-table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }

        html, body {
            width: 100%;
            height: 100%;
        }

        .disable, .disable:hover {
            cursor: no-drop!important;
            background: #78807d;
        }

    </style>
</head>
<body>

<div class="icon-bar" id="top-menu">
    <span id="arduino-connected" title="Arduino Connected" class="active"><i class="fa fa-plug"></i></span>
    <a id="upload-code-btn" class="disable" ><i id="upload-code-icon" class="fa fa-play"></i></a>
    <a id="serial-monitor" class="disable"><i class="fa fa-commenting"></i></a>
    <a id="debug-btn" href="#"><i class="fa fa-bug"></i></a>
    <a id="continue-btn"><i class="fa fa-forward"></i></a>
</div>

<div id="content-blocks">

</div>

<div id="arduino-sketch">

</div>

<xml id="toolbox" style="display: none">
    <category name="Logic" colour="%{BKY_LOGIC_HUE}">
        <block type="control_if"></block>
        <block type="controls_ifelse"></block>
        <block type="logic_compare"></block>
        <block type="logic_operation"></block>
        <block type="logic_negate"></block>
        <block type="logic_boolean"></block>
    </category>
    <category name="Loops" colour="%{BKY_LOOPS_HUE}">
        <block type="controls_repeat_ext">
            <value name="TIMES">
                <block type="math_number">
                    <field name="NUM">10</field>
                </block>
            </value>
        </block>
        <!--<block type="controls_whileUntil"></block>-->
        <block type="controls_for">
            <value name="FROM">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
            <value name="TO">
                <block type="math_number">
                    <field name="NUM">10</field>
                </block>
            </value>
            <value name="BY">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
        </block>
        <!--<block type="controls_flow_statements"></block>-->
    </category>
    <category name="Math" colour="%{BKY_MATH_HUE}">
        <block type="math_number">
            <field name="NUM">123</field>
        </block>
        <block type="math_arithmetic">
            <value name="A">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
            <value name="B">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
        </block>
        <block type="string_to_number">
            <value name="VALUE">
                <block type="text">
                    <field name="TEXT">5.35</field>
                </block>
            </value>
        </block>

        <block type="math_round">
            <value name="NUM">
                <block type="math_number">
                    <field name="NUM">3.1</field>
                </block>
            </value>
        </block>
        <block type="math_modulo">
            <value name="DIVIDEND">
                <block type="math_number">
                    <field name="NUM">64</field>
                </block>
            </value>
            <value name="DIVISOR">
                <block type="math_number">
                    <field name="NUM">10</field>
                </block>
            </value>
        </block>
        <block type="math_random_int">
            <value name="FROM">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
            <value name="TO">
                <block type="math_number">
                    <field name="NUM">100</field>
                </block>
            </value>
        </block>
    </category>
    <category name="Text" colour="%{BKY_TEXTS_HUE}">
        <block type="text"></block>
        <block type="text_join"></block>
        <block type="text_length">
            <value name="VALUE">
                <block type="text">
                    <field name="TEXT">abc</field>
                </block>
            </value>
        </block>
        <block type="parse_string_block">
            <value name="VALUE">
                <block type="text">
                    <field name="TEXT">blue,red,green</field>
                </block>
            </value>
            <value name="POSITION">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
        </block>

        <block type="number_to_string">
            <value name="VALUE">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
        </block>
        <block type="text_isEmpty">
            <value name="VALUE">
                <block type="text">
                    <field name="TEXT"></field>
                </block>
            </value>
        </block>
        <block type="text_changeCase">
            <value name="TEXT">
                <block type="text">
                    <field name="TEXT">abc</field>
                </block>
            </value>
        </block>
    </category>
    <category name="List" colour="%{BKY_LISTS_HUE}" custom="LIST">

    </category>


    <category name="Color" colour="%{BKY_COLOUR_HUE}">
        <block type="colour_picker"></block>
        <block type="colour_random"></block>
        <block type="colour_rgb">
            <value name="RED">
                <block type="math_number">
                    <field name="NUM">100</field>
                </block>
            </value>
            <value name="GREEN">
                <block type="math_number">
                    <field name="NUM">50</field>
                </block>
            </value>
            <value name="BLUE">
                <block type="math_number">
                    <field name="NUM">0</field>
                </block>
            </value>
        </block>
    </category>
    <sep></sep>

    <category name="Variables" colour="%{BKY_VARIABLES_HUE}" custom="VARIABLE">

    </category>
    <category name="Functions" colour="%{BKY_PROCEDURES_HUE}" custom="PROCEDURE"></category>
    <sep></sep>

    <category name="Input / Output" colour="315" >
        <block type="is_button_pressed"></block>
        <block type="digital_read"></block>
        <block type="digital_write"></block>
        <block type="analog_read"></block>
        <block type="analog_write">
            <value name="WRITE_VALUE">
                <block type="math_number">
                    <field name="NUM">50</field>
                </block>
            </value>
        </block>
        <block type="ultra_sonic_sensor_distance">
            <field name="TRIG">12</field>
            <field name="ECHO">13</field>
        </block>
    </category>


    <category name="Messages" colour="30" >
        <block type="send_message">
            <value name="MESSAGE">
                <block type="text">
                    <field name="TEXT">Hi</field>
                </block>
            </value>
        </block>
        <block type="receive_message"></block>
        <block type="has_message"></block>
    </category>

    <category name="Servo & Motor" colour="190">
        <block type="servo_move">
            <value name="DEGREE">
                <block type="math_number">
                    <field name="NUM">50</field>
                </block>
            </value>
        </block>
        <block type="move_motor">
            <value name="SPEED">
                <block type="math_number">
                    <field name="NUM">150</field>
                </block>
            </value>
            <value name="MOTOR">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
        </block>
        <block type="servo_read_degrees"></block>
        <block type="servo_move_adafruit_tico">
            <value name="DEGREE">
                <block type="math_number">
                    <field name="NUM">50</field>
                </block>
            </value>
        </block>
    </category>

    <category name="Time" colour="345" >
        <block type="delay_block">
            <value name="DELAY">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
        </block>
        <block type="time_seconds"></block>
        <block type="debug"></block>
    </category>


    <category name="Neo Pixels" colour="0" >
        <block type="neo_pixel_setup">
            <value name="NUMBER_LEDS">
                <block type="math_number">
                    <field name="NUM">60</field>
                </block>
            </value>
        </block>
        <block type="neo_pixel_set_color">
            <value name="POSITION">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
            <value name="COLOR">
                <block type="colour_picker">
                </block>
            </value>
        </block>
    </category>

    <category name="LCD Screen" colour="285">
        <block type="lcd_setup">
            <value name="ROWS">
                <block type="math_number">
                    <field name="NUM">4</field>
                </block>
            </value>
            <value name="COLUMNS">
                <block type="math_number">
                    <field name="NUM">20</field>
                </block>
            </value>
        </block>
        <block type="lcd_screen_simple_print">
            <value name="ROW_1">
                <block type="text">
                    <field name="TEXT"></field>
                </block>
            </value>
            <value name="ROW_2">
                <block type="text">
                    <field name="TEXT"></field>
                </block>
            </value>
            <value name="ROW_3">
                <block type="text">
                    <field name="TEXT"></field>
                </block>
            </value>
            <value name="ROW_4">
                <block type="text">
                    <field name="TEXT"></field>
                </block>
            </value>
            <value name="DELAY">
                <block type="math_number">
                    <field name="NUM">3000</field>
                </block>
            </value>
        </block>
        <block type="lcd_screen_clear"></block>
        <block type="lcd_screen_print">
            <value name="ROW">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
            <value name="COLUMN">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
            <value name="PRINT">
                <block type="text">
                    <field name="TEXT">Hi</field>
                </block>
            </value>
        </block>
        <block type="lcd_screen_blink">
            <value name="ROW">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
            <value name="COLUMN">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
        </block>
        <block type="lcd_backlight"></block>
    </category>

    <category name="LED Matrix" colour="255">
        <block type="led_matrix_make_draw">

        </block>
        <block type="led_matrix_turn_one_on_off">
            <value name="ROW">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
            <value name="COLUMN">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
        </block>
    </category>

    <category name="Soil Sensor" colour="150">
        <block type="soil_sensor_setup"></block>
        <block type="soil_humidity_percentage"></block>
        <block type="soil_humidity_value"></block>
        <block type="soil_is_raining"></block>
    </category>

    <category name="RFID" colour="60">
        <block type="rfid_scan"></block>
        <block type="rfid_tag"></block>
        <block type="rfid_card"></block>
    </category>

    <category name="IR Remote" colour="195">
        <block type="ir_remote_setup"></block>
        <block type="ir_remote_has_code_receive"></block>
        <block type="ir_remote_get_code"></block>
        <block type="ir_remote_scan_again"></block>
    </category>

    <category name="Temp / Humidity" colour="240">
        <block type="temp_setup"></block>
        <block type="temp_read_temp_humidity"></block>
        <block type="temp_get_temp"></block>
        <block type="temp_get_humidity"></block>
    </category>

    <category name="Bluetooth" colour="300">
        <block type="bluetooth_setup">
            <field name="RX">10</field>
            <field name="TX">11</field>
        </block>
        <block type="bt_send_message">
            <value name="MESSAGE">
                <block type="text">
                    <field name="TEXT">Hi</field>
                </block>
            </value>
        </block>
        <block type="bt_receive_message"></block>
        <block type="bt_has_message"></block>
    </category>
</xml>

<div id="debug-menu" style="display: none;">
    <div class="icon-bar icon-bar-bottom">
        <h2>Debug Menu</h2>
    </div>
    <table id="debug-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody id="debug-tbody">

        </tbody>
    </table>
</div>

<script type="text/javascript" src="blockly/blockly_compressed.js"></script>
<script type="text/javascript" src="blockly/blocks_compressed.js"></script>
<script type="text/javascript" src="blockly/arduino_compressed.js"></script>
<script type="text/javascript" src="blockly/msg/js/en.js"></script>
<script type="text/javascript" src="flyout_menus.js"></script>


<script src="workspace.js"></script>


<script src="debug/blocks/block_helper.js"></script>
<script src="debug/blocks/text.js"></script>
<script src="debug/blocks/logic.js"></script>
<script src="debug/blocks/colour.js"></script>
<script src="debug/blocks/loops.js"></script>
<script src="debug/blocks/list.js"></script>
<script src="debug/blocks/variables.js"></script>
<script src="debug/blocks/function.js"></script>
<script src="debug/blocks/math.js"></script>



<script src="debug/blocks/functionlist.js"></script>

<script src="debug/framegenerate.js"></script>

</body>
</html>