#setting-container {
  display: flex;
  flex-direction: column;
  font-family: 'Biryani', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  overflow: scroll;
  height: 100%;
  padding: 0 5%;
}

#setting-container > * {
  width: 95%;
  margin: 0 auto;
  min-width: 300px;
  margin-top: 20px;
}