#setting-container,
#setting-menu {
  display: flex;
  flex-direction: column;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

#setting-menu > *,
#setting-container > * {
  width: 95%;
  margin: 0 auto;
  min-width: 300px;
  margin-top: 20px;
}

#setting-container {
  overflow: scroll;
  height: 100%;
  padding: 0 5%;
}
